/* -----------------------------------------------------------------------*\
 SIMMA DOWN

 Frankie Grimes

\* -----------------------------------------------------------------------*/

/* -----------------------------------------------------------------------*\
 COLOURS
\* -----------------------------------------------------------------------*/

/*
  Blue/Teal: #19f6e8;
  Yellow: #FFCC33;
  Red: #FF3333
  Dark blue: #1E3888;
  Green: #33CC99;

*/

/* -----------------------------------------------------------------------*\
 FONT DECLARATIONS
\* -----------------------------------------------------------------------*/


@font-face {
  font-family: 'P22UndergroundPro-Heavy';
  src: url('../assets/fonts/P22UndergroundPro-Heavy.eot') format('eot'), /* IE9 Compat Modes */
       url('../assets/fonts/P22UndergroundPro-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/P22UndergroundPro-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/P22UndergroundPro-Heavy.svg') format('svg'); /* Legacy iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'P22UndergroundPro-Book';
  src: url('../assets/fonts/P22UndergroundPro-Book.eot') format('eot'), /* IE9 Compat Modes */
       url('../assets/fonts/P22UndergroundPro-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/P22UndergroundPro-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/P22UndergroundPro-Book.svg') format('svg'); /* Legacy iOS */
       font-weight: normal; 
       font-style: normal; 
}



/* -----------------------------------------------------------------------*\
 BODY FONT STYLES
\* -----------------------------------------------------------------------*/


body {
  font-family: "P22UndergroundPro-Book";
}

h1 {
  font-family: "P22UndergroundPro-Heavy";
  text-align: center;
  padding-top: 2rem;
}

p {
  font-family: "P22UndergroundPro-Book";
  font-size: 1.1rem;
}

/* -----------------------------------------------------------------------*\
 LANDING PAGE VIDEO
\* -----------------------------------------------------------------------*/

.video-container {
  position: relative;
  z-index: 0;

}

flex-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  video {
    left: 50%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  
  }
}

.landing-video {
  height: auto !important;

}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.responsive-embed, .flex-video {
  padding-bottom: 60%;

}

/* -----------------------------------------------------------------------*\
 LANDING PAGE CALLOUT TEXT
\* -----------------------------------------------------------------------*/

.landing-text {
  position: absolute;
    top: 35%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 5;
    color: white;
}

.landing-text h1 {
  font-size: 2.3rem;
  padding: 2rem;
  padding-top: 8rem;
  line-height: 2rem;
}

.landing-text-box span {
  font-size: 0.8rem;
}

.landing-text h2 {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid white;
   font-family: 'P22UndergroundPro-Book';

}

.landing-text a {
  color: white;
}

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.landing-text-box {
  color: #fff;
  font-family: 'P22UndergroundPro-Book';
  font-size: 1rem;
  padding: 1rem;
  letter-spacing: 8px;
  line-height: 25px;
  position: relative;
  top: -4rem;
  text-align: center;
}

@media screen and (min-width: 40.064em){
  .landing-text h1 {
    font-size: 8rem;
    line-height: 8rem;
  }

  .landing-text-box span {
  font-size: 1.3rem;
  }

  .landing-text-box {
    color: #fff;
    font-family: 'P22UndergroundPro-Book';
    font-size: 2rem;

    letter-spacing: 8px;
    line-height: 25px;
    position: relative;
    top: -4rem;
    text-align: center;
  }

}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.landing-text h2:hover {
  background-color: rgba(255,255,255,0.2);
}

/* -----------------------------------------------------------------------*\
 NAVIGATION
\* -----------------------------------------------------------------------*/

.top-bar {
    padding: 1rem
}

.top-bar, .top-bar ul {
  background-color: #070707;
  font-family: "P22UndergroundPro-Heavy";
  font-size: 1.1rem;
  padding-bottom: 0;
  line-height: 1.3rem;
}

.top-bar a {
  color: #fff;
}

.top-bar a:hover {
  color: #19f6e8;
}

.top-bar svg {
  margin-top: 0.2rem;
}


/* -----------------------------------------------------------------------*\
  ARTISTS/WORKSHOPS/TRADERS HOVER CARD GRID
\* -----------------------------------------------------------------------*/

.card h4 {
  text-align: center;
   font-family: "P22UndergroundPro-Heavy";
   text-transform: uppercase;
}



.card-image p {
  height: 0;
  margin: 0;
  text-align: center;
  color: #FF0022;
  position: relative;
  top: 5rem;
  font-size: 1.5rem;
  z-index: 2;


}

.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h4 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 1rem;
    padding-top: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 

  }

.view span {
    border-bottom: 0.2rem solid white;
    padding-bottom: 0.2rem;
}
.view p {
    font-size: 0.8rem;
    padding: 0rem 1rem;
    position: relative;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;

    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
  transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
  transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
  filter: grayscale(1);
  transform: scale(1.1);
} 
.view-first:hover .mask { 
  opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}


.orange {
      background-color: rgba(254,191,0, 0.8); 
}

.blue {
      background-color: rgba(25,246,232, 0.7); 
}

.red {
  background-color: rgba(255,51,51, 0.7); 
}

.dark-blue {
   background-color: rgba(30,56,136, 0.7); 
}

.green {
   background-color: rgba(51,204,153, 0.7); 
}

.purple {
  background-color: rgba(77,19,127, 0.7); 
}

/* -----------------------------------------------------------------------*\
  MAIN CONTENT
\* -----------------------------------------------------------------------*/

.main-content {
  padding: 0rem;
  padding-bottom: 7rem;
}

.main-content a {
}

blockquote {
  padding: 1.3rem;
  font-size: 1.3rem;
}

cite {
  font-size: 1rem;
}
/* -----------------------------------------------------------------------*\
  FAQ ACCORDION
\* -----------------------------------------------------------------------*/


.accordion-title {
  font-size: 1.3rem;
  color: #1E3888;
}
/* -----------------------------------------------------------------------*\
  FOOTER
\* -----------------------------------------------------------------------*/

footer {
  background-color: #070707;
}


footer p {
  color: white;
  font-family: 'P22UndergroundPro-Book';
  text-align: center;
  font-size: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;

}

.footer-light {
  background-color: #474747;
  padding: 1rem;
}

.footer-light .row {
  padding: 1rem;
  text-align: center;
}

.footer-light img {
  padding: 1rem;
}

footer svg:hover #facebook, footer svg:hover #twitter,
footer svg:hover #instagram { 
  fill: #555555;
}

footer a svg #facebook, footer a svg #twitter,
footer a svg #instagram { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

svg:hover #logo {
  fill: #212121;
}

svg:hover #logo {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.footer-menu {
    background-color: #313131;
    padding: 0.5rem;


}

.footer-menu a {
    color: #fff;
    font-size: 0.7rem;

}

.footer-menu a:hover {
    color: #d5d5d5;
    

}

.footer-menu ul {
  line-height: 0.5rem;
  text-align: center;
}